<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Image</string>
      <key>CFBundleTypeIconFiles</key>
      <array/>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.image</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>png</string>
        <string>jpg</string>
        <string>jpeg</string>
        <string>webp</string>
        <string>tiff</string>
        <string>tif</string>
        <string>bmp</string>
        <string>gif</string>
        <string>heic</string>
        <string>heif</string>
        <string>avif</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Video</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.movie</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>mp4</string>
        <string>mov</string>
        <string>mkv</string>
        <string>avi</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Audio</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.audio</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>mp3</string>
        <string>wav</string>
        <string>ogg</string>
        <string>flac</string>
        <string>m4a</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
